<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>n0yeKMLfbZx0HAZZOtoYzjfAMTZ4F2Dp</string>
	<key>Domain</key>
	<string>dev-6nf0x4rldki2b05b.us.auth0.com</string>
</dict>
</plist>
